{% extends "_base.html" %}

{% block title %}
Добавление категории
{% endblock %}

{% block content %}
<!-- insert the page content here -->
<h1>Добавить категорию:</h1>
<form action="#" method="post">
  <div class="form_settings">
    {% if f_errors: %}
    <p><span>Имя категории</span><input class="error" type="text" name="f_category_name" value="{{f_category_name}}"
        required />
    </p>
    {% else %}
    <p><span>Имя категории</span><input class="" type="text" name="f_category_name" value="" required /></p>
    {% endif %}
    {% for _error in f_errors: %}
    <p><span class="error_text">{{_error}}</span></p>
    {% endfor %}
    <p style="padding-top: 15px"><span>&nbsp;</span><input class="submit" type="submit" name="category_submitted"
        value="Добавить" /></p>
  </div>
</form>
{% endblock %}